extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Configuration Values

  table
    tr
      th index
      th name
      th value

    each val, index in  appConfig
      tr
        td= index
        td= val.name
        td= val.value
